[Unit]
Description=Mode Control Entity (MCE)
DefaultDependencies=no
Requires=dbus.socket
After=dbus.socket
After=local-fs.target
Wants=x2dbacklight.device
After=x2dbacklight.device
Before=basic.target
Conflicts=shutdown.target

[Service]
Type=notify
ExecStart=/usr/sbin/mce --systemd
Restart=always

[Install]
WantedBy=multi-user.target
